<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">nosotros</ion-title>
    </ion-toolbar>
  </ion-header>


<p>WEBP</p>
<img
src="assets/img/webp.webp"
alt="Imagen corporativa"
class="imagen-nosotros"
/>

<p>GIF</p>
<img
src="assets/img/gif.gif"
alt="Imagen corporativa"
class="imagen-nosotros"
/>

<p>JPG</p>
<img
src="assets/img/jpg.jpg"
alt="Imagen corporativa"
class="imagen-nosotros"
/>

<p>PNG</p>
<img
src="assets/img/png.png"
alt="Imagen corporativa"
class="imagen-nosotros"
/>


</ion-content>
