#resaltado{
    color:rgb(7, 33, 234);
    font-family: fantasy;
}
#sub{
    color:black;
    font-family: cursive;

}
#resaltar{
    color: red;
    font-family: fantasy;
    gap: 20px;
    border: 2px solid black;
}